@*
    .NET 8.0 MIGRATION NOTE:
    Hardcoded navigation menu matching legacy structure (minimal changes)
    Categories match the legacy screenshot: Computers, Electronics, Apparel, 
    Digital downloads, Books, Jewelry, Gift Cards
    TODO: Make dynamic with CategoryService later
*@

<ul class="top-menu">
    <li><a href="/computers">Computers</a></li>
    <li><a href="/electronics">Electronics</a></li>
    <li><a href="/apparel-shoes">Apparel</a></li>
    <li><a href="/digital-downloads">Digital downloads</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/jewelry">Jewelry</a></li>
    <li><a href="/gift-cards">Gift Cards</a></li>
</ul>
