@*
    .NET 8.0 MIGRATION NOTE:
    Original used @helper syntax (not supported in .NET Core Razor) and TopMenuModel
    Temporarily hardcoded for demo - should query database for real categories
    TODO: Create TopMenuViewComponent with CategoryService.GetAllCategories()
    Reference: nopCommerce 4.70.0 TopMenuViewComponent pattern
*@

<ul class="top-menu">
    <li><a href="/">Home</a></li>
    <li>
        <a href="/computers">Computers</a>
        <div class="sublist-toggle"></div>
        <ul class="sublist first-level">
            <li><a href="/desktops">Desktops</a></li>
            <li><a href="/notebooks">Notebooks</a></li>
            <li><a href="/accessories">Accessories</a></li>
        </ul>
    </li>
    <li>
        <a href="/electronics">Electronics</a>
        <div class="sublist-toggle"></div>
        <ul class="sublist first-level">
            <li><a href="/camera-photo">Camera & photo</a></li>
            <li><a href="/cell-phones">Cell phones</a></li>
        </ul>
    </li>
    <li>
        <a href="/apparel-shoes">Apparel & Shoes</a>
    </li>
    <li>
        <a href="/digital-downloads">Digital downloads</a>
    </li>
    <li>
        <a href="/books">Books</a>
    </li>
    <li>
        <a href="/jewelry">Jewelry</a>
    </li>
    <li>
        <a href="/gift-cards">Gift Cards</a>
    </li>
</ul>

<div class="menu-toggle">Menu</div>
<ul class="top-menu mobile">
    <li><a href="/">Home</a></li>
    <li><a href="/computers">Computers</a></li>
    <li><a href="/electronics">Electronics</a></li>
    <li><a href="/apparel-shoes">Apparel & Shoes</a></li>
    <li><a href="/digital-downloads">Digital downloads</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/jewelry">Jewelry</a></li>
    <li><a href="/gift-cards">Gift Cards</a></li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $('.menu-toggle').click(function () {
            $(this).siblings('.top-menu.mobile').slideToggle('slow');
        });
        $('.top-menu .sublist-toggle').click(function () {
            $(this).siblings('.sublist').slideToggle('slow');
        });
    });
</script>
