@*
    .NET 8.0 MIGRATION NOTE:
    Temporarily using hardcoded header for demo (minimal changes approach)
    @Html.Action() calls weren't working - will convert to ViewComponents later
    This matches legacy UI structure with minimal functional elements
*@
<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @* Currency/Language selectors - simplified *@
            <div class="currency-selector">
                <select>
                    <option>US Dollar</option>
                </select>
            </div>
        </div>
        <div class="header-links-wrapper">
            @* Header links - matching legacy *@
            <ul class="header-links">
                <li><a href="/register" class="ico-register">Register</a></li>
                <li><a href="/login" class="ico-login">Log in</a></li>
                <li><a href="/wishlist" class="ico-wishlist">
                    <span class="wishlist-label">Wishlist</span>
                    <span class="wishlist-qty">(0)</span>
                </a></li>
                <li class="shopping-cart">
                    <a href="/cart" class="ico-cart">
                        <span class="cart-label">Shopping cart</span>
                        <span class="cart-qty">(0)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            @* Logo - using theme logo image *@
            <a href="/">
                <img alt="nopCommerce demo store" src="/Themes/DefaultClean/Content/images/logo.png" 
                     title="nopCommerce demo store" />
            </a>
        </div>
        <div class="search-box store-search-box">
            @* Search box - simplified *@
            <form action="/search" method="get">
                <input type="text" class="search-box-text" name="q" placeholder="Search store" />
                <input type="submit" class="button-1 search-box-button" value="Search" />
            </form>
        </div>
    </div>
</div>
