@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.DisplayDiscontinuedMessage)
{
    <div class="discontinued-product">
        <h4>@Localizer.GetResource("Products.Discontinued")</h4>
    </div>
}