@*
    .NET 8.0 MIGRATION NOTE:
    Original used FooterModel with database-driven topics and settings
    Temporarily hardcoded for demo
    TODO: Create FooterViewComponent with TopicService and settings
*@
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information">
            <div class="title">
                <strong>Information</strong>
            </div>
            <ul class="list">
                <li><a href="/sitemap">Sitemap</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="/contactus">Contact us</a></li>
            </ul>
        </div>
        <div class="footer-block customer-service">
            <div class="title">
                <strong>Customer service</strong>
            </div>
            <ul class="list">
                <li><a href="/search">Search</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/boards">Forums</a></li>
                <li><a href="/recentlyviewedproducts">Recently viewed products</a></li>
                <li><a href="/compareproducts">Compare products list</a></li>
                <li><a href="/newproducts">New products</a></li>
            </ul>
        </div>
        <div class="footer-block my-account">
            <div class="title">
                <strong>My account</strong>
            </div>
            <ul class="list">
                <li><a href="/customer/info">My account</a></li>
                <li><a href="/order/history">Orders</a></li>
                <li><a href="/customer/addresses">Addresses</a></li>
                <li><a href="/cart">Shopping cart</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
            </ul>
        </div>
        <div class="footer-block follow-us">
            <div class="title">
                <strong>Follow us</strong>
            </div>
            <div class="social">
                <ul class="list">
                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank">Facebook</a></li>
                    <li class="twitter"><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                    <li class="rss"><a href="/news/rss/1">RSS</a></li>
                </ul>
            </div>
            <div class="newsletter">
                <div class="newsletter-email">
                    <input type="text" name="NewsletterEmail" id="newsletter-email" placeholder="Enter your email" />
                </div>
                <div class="newsletter-subscribe-button">
                    <input type="button" value="Subscribe" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">
                Copyright © @DateTime.Now.Year nopCommerce demo store. All rights reserved.
            </span>
        </div>
        <div class="footer-powered-by">
            Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
        </div>
    </div>
</div>
