@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    // .NET 8.0: Use Localizer.GetResource() instead of T()
    Html.AddTitleParts(Localizer.GetResource("PageTitle.PageNotFound"));
    //page class
    Html.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
    <div class="page-title">
        <h1>@Localizer.GetResource("PageTitle.PageNotFound")</h1>
    </div>
    <div class="page-body">
        @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
    </div>
</div>
